<h1>Booking Information </h1>
<div class="info">
        <div>Booking ID: <%= @booking.id%></div>
        <div>Flight ID: <%= @flight.id %></div>
        <div>No. of Passengers: <%= @booking.passenger_amount %></div>
</div>


<h1>Flight Information </h1>
<div class="info">
        <div><%= @flight.departure_airport.code %></div>
        <div><%= @flight.arrival_airport.code %></div>
        <div><%= @flight.departure_time %></div>
        <div><%= @flight.duration %></div>
</div>

<h1>Passenger Information </h1>
<% @booking.passengers.each do |passenger| %>
    <div class="info">
        <div><%= passenger.name %></div>
         <div><%= passenger.email %></div>
    </div>
<% end %>

